* {
    margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 190px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 190px;
  background-color: #222222;
}

.footer-header {
    width: 100%;
    height: 15px;
    background-color: #303030;
}

.footer-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: #070707;
}

#footer-footer-copyright {
    position: absolute;
    width: calc(100% - 60px);
    font-size: 8pt;
    color: white;
    margin-left: 30px;
}

.footer-body {
    position: absolute;
    bottom: 0;
    left: 30px;
    top: 15px;
    width: calc(100% - 60px);
    color: white;
    height: calc(100% - 40px);
}

#footer-body-table {
    position: relative;
}

#header-bar {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: #9e1b34;
}

#header-brand-name {
    color: #ccc;
}

#header-students-link, #header-employers-link, #header-user-dropdown {
    color: white;
}

#students-table, #students-table-controls {
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.overlay_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
    display: none;
}

.overlay-panel {
    position: fixed;
    z-index: 11;
    display: none;
}

#add-student-overlay {
    width: 400px;
    height: 549px;
    top: 100px;
    left: calc(50% - 200px);
    top: calc(50% - 274.5px);
}

#add-student-title-bar {
    background-color: #9e1b34;
}

#add-student-title {
    color: white;
}

.btn-form-submit {
    float: right;
}
